@import "tailwindcss";

@theme {
  --font-lato: var(--font-lato);
  --font-outfit: var(--font-outfit);
  /* Container Spacing Base */
  --spacing-container: 1.5rem; 
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }
}



/* Responsive Overrides for the theme variable */
@layer base {
  :root {
    @media (width >= theme(--breakpoint-md)) {
      --spacing-container: 3rem;   /* Tablet */
    }
    
    @media (width >= theme(--breakpoint-lg)) {
      --spacing-container: 2rem;   /* PC Desktop */
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: var(--spacing-container);
  width: 100%;
  max-width: 1400px; /* Optional: adds a reasonable max-width for very large screens */
}



